# FastAPI Web Framework
fastapi
uvicorn[standard]
python-multipart
fastapi-cors

# Database (PostgreSQL + pgvector)
sqlalchemy
psycopg[binary]
pgvector

# LangChain & Google Generative AI & LangSmith
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
langChain-postgres
langgraph
langsmith
google-generativeai


# Configuration & Utilities
python-dotenv
pydantic
python-dateutil

# Document Processing (PDFs and Images)
unstructured[local-inference]
pypdf
pdf2image
pikepdf
pymupdf